.squircle {
  /* border-radius: 24px; */
  corner-shape: squircle;
  /* 未来可能会支持 */
}

/* 如果需要更接近 squircle 的效果，可以使用 SVG mask - 圆角半径 20% */
.squircle-mask {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 20 0 H 80 C 90 0 100 10 100 20 V 80 C 100 90 90 100 80 100 H 20 C 10 100 0 90 0 80 V 20 C 0 10 10 0 20 0 Z' fill='black'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 20 0 H 80 C 90 0 100 10 100 20 V 80 C 100 90 90 100 80 100 H 20 C 10 100 0 90 0 80 V 20 C 0 10 10 0 20 0 Z' fill='black'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
